<header class="cabecalho">
    <img class="cabecalho-img" src="assets/img/loguinho.png">
    <nav class="cabecalho-menu">
        <a class="cabecalho-item" href="menu">Página Inicial</a>
        <a class="cabecalho-item" href="perfil">Meu Perfil</a>
        <div class="dropdown">
          <a href="funcionalidade"><button class="btn">Funcionalidades</button></a>
          <div class="dropdown">
            <button class="btn" style="border-left:1px solid navy">
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="produtividade">Produtividade</a>
              <a href="zoneamento">Zoneamento</a>
              <a href="adubacao">Adubação</a>
            </div>
          </div>
          
        </div>
        
        <label>Bem vind@ {{clienteHeader.nome}}</label>
          
    </nav>
</header>
