<header class="cabecalho">
    <img class="cabecalho-img" src="assets/img/loguinho.png">
    <nav class="cabecalho-menu">

        <a class="cabecalho-item" href="menu">Página Inicial</a>
        <a class="cabecalho-item" href="perfil">Meu Perfil</a>
        <div class="btn-group">
          <a href="funcionalidade"><button type="button" class="btn btn-outline-success">Funcionalidades</button></a>
          <button type="button" class="btn btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="produtividade">Produtividade</a>
            <a class="dropdown-item" href="zoneamento">Zoneamento</a>
            <a class="dropdown-item" href="adubacao">Adubação</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="funcionalidade">Descrição</a>
          </div>

        </div>
        
        <label>Bem vind@ {{clienteHeader.nome}}</label>
          
    </nav>
</header>
