
	<div class="geral">
		<div class="tela_login">
			<div class="login">
                <img src="assets/img/logo4.png" alt="" class="img">

				<input class="login_usu" [(ngModel)]="login.email" name="email" id="email" #email="ngModel" required type="text" placeholder="Nome de Usuário">
				<input class="senha_usu" [(ngModel)]="login.senha" name="senha" id="senha" #senha="ngModel" required type="password" placeholder="Senha de Usuário">

				<button type="button" class="btn btn-primary btn-sm" (click)="entrar()">Login</button>
			</div>
		</div>
		
	</div>