<main class="menu-produtividade">
    <div class="form-style-10">
        <h1>Produtividade</h1>
        <form>
            Olá {{clienteProdutividade.nome}}
            <div class="section"><span>1</span>Localização/Data do plantio</div>
            <div class="inner-wrap">
                <label>Município<input type="text" name="municipio" /></label>
                <label>Data Plantio</label>
                <input type="date" name="data"/>
            </div>
        
            <div class="section"><span>2</span>Informações Plantio</div>
            <div class="inner-wrap">
                <label>Capacidade de armazenamento de agua no solo (ml):<input type="number"/></label>
                <label>Cultura
                    <select>
                    <option value="valor1"></option>
                    <option value="valor2">Soja</option>
                    <option value="valor3">Feijao</option>
                  </select></label>
                  <label>Cultivares
                    <select>
                    <option value="valor1"></option>
                    <option value="valor2">Soja</option>
                    <option value="valor3">Feijao</option>
                  </select></label>
                  <label>Expectativa Produtividade:<input type="number"/></label>
                  <label>Latitude:<input type="number"/></label>
                  <label>Longitude:<input type="number"/></label>
            </div>
        
            <div class="button-section">
             <input type="submit" name="Sign Up" />
             <span class="privacy-policy">
             <input type="checkbox" name="field7"> Estou de acordo com os termos de política. 
             </span>
            </div>
        </form>
        <br>
        <table>
            <thead>
                <th class="pro" name="Produtividade Almejada">Produtividade Almejada</th>
                <th class="pro" name="Produtividade Média">Produtividade Média</th>
                <th class="pro" name="Temperatura Mínima">Temperatura Mínima</th>
                <th class="pro" name="Temperatura Máxima">Temperatura Máxima</th>
                <th class="pro" name="Precipitação">Precipitação</th>
                <th class="pro" name="Graus Dia">Graus Dia</th>
                <th class="pro" name="Balanco Hidrico">Balanco Hidrico</th>
                <th class="pro" name="Deficiencia Hidric">Deficiencia Hidrica</th>
                <th class="pro" name="Excedente Hidrico">Excedente Hidrico</th>
            </thead>
            <tbody align="center">
                <tr>
                    <td class="pro2">3.56</td>
                    <td class="pro2">2.99</td>
                    <td class="pro2">15.5</td>
                    <td class="pro2">25</td>
                    <td class="pro2">0</td>
                    <td class="pro2">6.25</td>
                    <td class="pro2">6.25</td>
                    <td class="pro2">48.37</td>
                    <td class="pro2">2.38</td>
                </tr>
                <tr>
                    <td class="pro2">3.56</td>
                    <td class="pro2">2.99</td>
                    <td class="pro2">15.5</td>
                    <td class="pro2">25</td>
                    <td class="pro2">0</td>
                    <td class="pro2">6.25</td>
                    <td class="pro2">6.25</td>
                    <td class="pro2">48.37</td>
                    <td class="pro2">2.38</td>
                </tr>
            </tbody>
        </table>
        </div>
</main>
