<app-linha></app-linha>
<main class="form-style-10">
    <div class="divisao-sessao-1">
        <p class="teste">S.A.C</p>
        <h2 class="subparagrafo-sac">FUNCIONALIDADES</h2>
    </div>
    <div class="form-style-10">
    <a href="produtividade">
        <div>
            <h3>Produtividade</h3>
            <p>Retorna porcentagem de melhores plantações e produtividade desejada</p>
        </div>
    </a>
    <a href="zoneamento">
        <div>
            <h3>Zoneamento</h3>
            <p>Retorna informações sobre a zona da plantação</p>
        </div>
    </a>
    <a href="Adubação">
        <div>
            <h3>Adubação</h3>
            <p>Retorna informações sobre melhores adubações ao terreno</p>
        </div>
    </a>
</div>

</main>