<div class="geral">
	<div class="tela_login">
		<div class="login">
			<img src="assets/img/logo4.png" alt="" class="img">
			<input type="text" class="login1_usu" placeholder="Nome (Completo)" aria-required="true">
            <input type="text" class="login_usu" placeholder="Nome de Usuário/Apelido" aria-required="true">
            <input type="text" class="email_usu"  placeholder="E-Mail" aria-required="true">
			<input type="password" class="senha_usu"  placeholder="Senha de Usuário" aria-required="true">
            <button type="submit" class="btn btn-primary btn-sm">Criar conta</button>
            <p class="criarlogin"><a href="">Já possui uma conta? Logue agora!</a></p>
		</div>

		
	</div>	
</div>