<app-header></app-header>
<main class="menu-principal">
    <section class="sessao-1">
        <div class="divisao-sessao-1">
            <h1 class="paragrafo-sac">S.A.C</h1>
            <h2 class="subparagrafo-sac">Smart Agro Consultant</h2>
            <a href="funcionalidade"><button class="botao-comecar">Começar!</button></a>
        </div>
        <img class="img-menu" src="assets/img/inicial.png">
    </section>

    <section class="sessao-2">
        <h3 class="subparagrafo-3">O que somos?</h3>
        <p class="descricao">Smart Agro Consultant é uma ferramenta simples e intuitiva, para o agricultor<br>consultar algumas informações relevantes sobre o que seria mais viável plantar.<br>Além de outras informações para sua plantação.</p>
    </section>

</main>
<app-footer></app-footer>