<main class="menu-produtividade">     
    <div class="form-style-10">         
        <h1>Meu Perfil</h1>         
        <form>             
            <div class="section"><span>1</span>Informações
            </div>             
            <div class="inner-wrap">                 
                <p>ID: {{clientePerfil.id}}</p>
                <p>Nome: {{clientePerfil.nome}}</p>
                <p>Email: {{clientePerfil.email}}</p> 
                <p>Compartilha dados: {{clientePerfil.visibilidade}}</p> 
                </div>              
                <div class="section"><span>2</span>Informações Do Seu Plantio</div>             
                <div class="Col-3">                 
                    <label>Hectares:<input type="text" /></label>                 
                    <label>Localização:<input type="text" /></label>                
                     <label>Tipo de Solo: <input type="text" /></label>            
                     </div>            
                      <br>            
                       <div class="button-section">                 
                           <input type="submit" name="Sign Up" />                 
                           <span class="privacy-policy">                 

                           </span>            
                         </div>         
                        </form>         
                        <br>    
                     </div> 
                    </main> 
