<form>
    <div class="login">
        <input class="email" [(ngModel)]="login.email" name="email" id="email" #email="ngModel" required type="text" placeholder="Insira seu email...">
        <br>
        <br>
        <input [(ngModel)]="login.senha" name="senha" id="senha" #senha="ngModel" required type="password" placeholder="Insira sua senha...">
    </div>
    <br>
    <button type="submit" class="actions" id="salvar" (click)="entrar()">Entrar</button>
    <br>
    <a href="#">Criar Conta</a>
</form>
